<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>moving melbourne</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<div class="temp">
  <main class="phone-screen">
    <%= yield %>
  </main>
  <div class="time-buttons">
    <div class="lunch">time1</div>
    <div class="quiet">time2</div>
    <div class="peak">time3</div>
  </div>
</div>

</body>
</html>