<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>moving melbourne</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<main class="phone-screen">
  <%= yield %>
</main>

<div class="time-buttons">
  <div class="lunch"><a href="/">1200h</a></div>
  <div class="quiet"><a href="/quiet">1500h</a></div>
  <div class="peak"><a href="/peak">1700h</a></div>
  <div class="mockup"><a href="/mockup">mockup</a></div>
</div>

<script src="/javascripts/application.js"></script>
</body>
</html>