<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>moving melbourne</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
</head>
<body>

<div class="temp">
  <main class="phone-screen">
    <%= yield %>
  </main>
  <div class="time-buttons">
    <div class="lunch"><a href="/">time1</a></div>
    <div class="quiet"><a href="/quiet">time2</a></div>
    <div class="peak"><a href="/peak">time3</a></div>
  </div>
</div>

</body>
</html>