<h1>1200h map</h1>

<div class="user">
  <span>user</span>
</div>

<div style="background-color: rgba(255,255,0,0.5)" class="poi-one">
  <span>poi1</span>
</div>

<div style="background-color: rgba(0,255,0,0.5)" class="poi-two">
  <span>poi2</span>
</div>

<div style="background-color: rgba(0,0,255,0.5)" class="poi-three">
  <span>poi3</span>
</div>

<div style="display: none; background-color: rgba(255,255,0,0.5)" class="route-one">
  <span>route one</span>
</div>

<div style="display: none; background-color: rgba(255,255,0,0.5)" class="poi-one-info">
  <span>poi one info</span>
</div>

<div style="display: none; background-color: rgba(255,255,0,0.5)" class="go-button">
  <span>go button</span>
</div>

<div style="display: none; background-color: rgba(255,255,0,0.5)" class="directions">
  <span>directions</span>
</div>

<div style="background-color: rgba(255,0,0,0.5)" class="disruption">
  <span>disruption</span>
</div>

<div style="display: none; background-color: rgba(255,0,0,0.5)" class="disruption-info">
  <span>disruption info</span>
</div>