<section id="lunch">
  <!-- <h1>1200h map</h1> -->
  <div class="lunch path">
    <div class="user">
      
    </div>
    <div style="background-color: rgba(255,255,0,0.5)" class="poi-one qv">
      <p>QV</p>
    </div>

    <div style="background-color: rgba(0,255,0,0.5)" class="poi-two chinatown">
      <p>Chinatown</p>
    </div>

    <div style="background-color: rgba(0,0,255,0.5)" class="poi-three parliament">
      <p>Parliament ></p>
    </div>

    <div class="poi-one-info hide">
      <p>poi one info</p>
      <button type="button" class="go-button hide">go button</button>
    </div>

    <div class="directions hide">
      <p>directions</p>
    </div>

    <div class="disruption">
      <p>disruption</p>
    </div>

    <div style="display: none; background-color: rgba(255,0,0,0.5)" class="disruption-info">
      <span>disruption info</span>
    </div>
  </div>
</section>
