<section id="lunch">
  <!-- <h1>1200h map</h1> -->
  <div class="lunch path">
    <div class="user">

    </div>
    <div class="poi-one qv">
      <i class="fa fa-shopping-bag"></i>
    </div>

    <div class="poi-two chinatown">
      <i class="fa fa-cutlery"></i>
      Chinatown
    </div>

    <div class="poi-three parliament">
      <i class="fa fa-university"></i>
      Parliament >
    </div>

    <div class="poi-one-info hide">
      <button type="button" class="go-button hide fa fa-arrows">Show me how to get there</button>
      <i class="fa fa-shopping-bag"></i>
      <div class="main-info">
        <h2>QV Melbourne</h2>
        <p>5 mins, 900m away</p>
      </div>
      <p class="info">QV is a leading shopping precinct and home to Australian and international designer stores.</p>
    </div>

    <div class="directions hide">

    </div>

    <div class="disruption">
      <p>disruption</p>
    </div>

    <div style="display: none; background-color: rgba(255,0,0,0.5)" class="disruption-info">
      <span>disruption info</span>
    </div>
  </div>
</section>
