<div class="tester">

<div class="some-point">
</div>

<div class="user-point">
</div>

<div class="some-route">
</div>

</div>
<iframe width="600" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/view?zoom=13&center=-37.8136,144.9631&key=..." allowfullscreen></iframe>