<h1>1700h map</h1>

<div class="user">
  <span>user</span>
</div>

<div class="poi-one">
  <span>poi1</span>
</div>

<div class="poi-two">
  <span>poi2</span>
</div>

<div class="poi-three">
  <span>poi3</span>
</div>

<div style="display: none" class="route-one">
  <span>route one</span>
</div>

<div style="display: none" class="poi-one-info">
  <span>poi one info</span>
</div>

<div style="display: none" class="go-button">
  <span>go button</span>
</div>

<div style="display: none" class="directions">
  <span>directions</span>
</div>

<div class="disruption">
  <span>disruption</span>
</div>

<div style="display: none" class="disruption-info">
  <span>disruption info</span>
</div>