<section id="six-pm">
  <div class="six-pm path">
    <div class="user">

    </div>
    <div class="poi-one qv">
      <i class="fa fa-shopping-bag"></i>
      QV
    </div>

    <div class="poi-two chinatown">
      <i class="fa fa-cutlery"></i>
      Chinatown
    </div>

    <div class="poi-three parliament">
      <i class="fa fa-university"></i>
      Parliament >
    </div>

    <div class="poi-one-info hide">
      <button type="button" class="go-button hide fa fa-arrows"><span>Show me how to get there</span></button>
      <i class="fa fa-shopping-bag"></i>
      <div class="main-info">
        <h2>QV Melbourne</h2>
        <p>5 mins, 900m away</p>
      </div>
      <p class="info">QV is a leading shopping precinct and home to Australian and international designer stores.</p>
    </div>

    <div class="directions hide">
      <button type="button" class="go-button hide fa fa-eye"><span>See what's on the way</span></button>
      <i class="fa fa-arrow-left"></i>
      <div class="directions-info">
        <p><b>Head towards Swanston St and in </b>30m</p>
        <h2>TURN LEFT</h2>
        <p><b>at the </b>Telstra Store</p>
      </div>
      <p class="info">Don't for get to keep to the left.</p>
    </div>


    <div style="display: none; background-color: rgba(255,0,0,0.5)" class="disruption-info">
      <span>disruption info</span>
    </div>
  </div>
</section>
