.tester {
  width: 450px;
  height: 750px;
  border: 10px solid black;
  border-radius: 15px;
  display: inline-block;
  background-image: url("https://i.imgur.com/gi2g7Px.png");
  background-size: 100%;
  position: relative;
}

.some-point {
  position: fixed;
  height: 30px;
  width: 30px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 250px;
  left: 200px;
}

.user-point {
  position: fixed;
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.phone-screen {
  width: 450px;
  height: 750px;
  background-color: lightgrey;
  border-radius: 15px;
  display: inline-block;
}

.time-buttons {
  width: 200px;
  height: 100px;
  background-color: lightblue;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.hide {
  display: none;
}

.poi-one-info, .directions, .go-button, .route-one {
  background-color: rgba(255,255,0,0.5);
}
.disruption {
  background-color: rgba(255,0,0,0.5)
}
