* {
font-family: 'Roboto', sans-serif;
font-weight: 400;
outline: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
.phone-screen {
  width: 421px;
  height: 750px;
  background-color: #f7f7f7;
  border-radius: 15px;
  display: block;
  margin: 20px auto;
  background-image: url('/images/mapBackground.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px solid lightgrey;
}
#lunch {
  background-image: url('/images/congestion-august22-12pm.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
#six-pm {
  background-image: url('/images/congestion-august22-6pm.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
#special-event {
  background-image: url('/images/congestion-march21-6pm.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

.poi-one-info, .directions {
  background-color: #c1c5d1;
  border-radius: 0 0 15px 15px;

}
.poi-one-info button, .directions button {
  display: block;
  position: absolute;
  top: -40px;
  background-color: #74C9F1;
  border-radius: 20px;
  color: #fff;
  border: none;
  padding: 10px 0;
  width: 240px;

}
.poi-one-info button span, .directions button span {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
.poi-one-info button::before .directions button::before {
  padding-right: 10px;

}
.poi-one-info i, .directions i {
  display: inline-block;
  font-size: 90px;
  text-align: center;
  vertical-align: top;
  width: 29%;
}
.poi-one-info .main-info, .directions .directions-info {
  display: inline-block;
}
.main-info, .directions-info {
  text-align: center;
  width: 70%;
}
.main-info h2, .directions-info h2 {
  font-size: 40px;
  margin-top: 25px;
  margin-bottom: 0;
}
.main-info p, .directions-info p {
  font-weight: 700;
}
.directions-info p {
  margin-bottom: 0;
}
.directions-info h2 {
  margin-top: 10px;
  margin-bottom: 0;
}
.poi-one-info .info, .directions .info {
  background-color: #3578BC;
  height: 48px;
  border-radius: 0 0 15px 15px;
  padding: 12px 10px 0 10px;
  color: #fff;
  text-align: center;
}
.directions .info {
  margin-top: 13px;
}

.disruption {
  background-color: rgba(255,0,0,0.5)
}
.time-buttons {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.time-buttons a {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border-radius: 7px;
  text-decoration: none;
  font-family: sans-serif;
  margin: 0 10px;
}
.time-buttons a:hover {
  background-color: #444;
}

.poi-one, .poi-two, .poi-three, .disruption, .poi-one-special {
  display: inline-block;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  vertical-align: middle;
  background-color: #3578BC;
  color: #fff;
}

.poi-one i, .poi-two i, .poi-three i, .poi-one-special i, .disruption p {
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
  width: 60px;
  font-size: 20px;
}
#lunch .path-toggle {
  background-image: url('/images/routing-august22-12pm.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

#six-pm .path-toggle {
  background-image: url('/images/routing-august22-6pm.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}
#special-event .path-toggle {

  height: 100%;
}
.lunch, .six-pm, .special-event {
  position: relative;
}
.poi-one-info, .directions {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 200px;
}
.hide {
  display: none;
}
.qv, .chinatown, .townhall, .parliament, .user {
  position: absolute;
}
.qv {
  left: 178px;
  top: 19px;
}
.chinatown {
  right: 78px;
  top: 206px;
}
.townhall {
  top: 359px;
  right: 34px;
}
.parliament {
  top: 655px;
  right: 115px;
}
.user {
  top: 412px;
  left: 145px;
  height: 15px;
  width: 15px;
  background-color: #3578BC;
  border-radius: 50%;
  transition: all ease-in .5s;
}
